<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<table class="table border=">
	<thead class="table-primary">
		<tr>			
			<th>번호</th>
			<th>제목</th>
			<th>날짜</th>					
		</tr>
	</thead>
	<tbody>
		<tr th:each="question, loop : ${paging}">
			<td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>			
			<td>
				<a th:href="@{|/question/detail/${question.id}|}"
				th:text="${question.subject}"></a>
				<span class="text-danger small ms-2"
				th:if="${#lists.size(question.answerList)>0}"
				th:text="${#lists.size(question.answerList)}"></span>
			</td>			
			<td th:text="${#temporals.format(question.createDate,
				'yyyy-MM-dd HH:mm')}"></td>				
		</tr>	
	</tbody>
</table>
<!--페이징 처리 시작-->
<div th:if="${!paging.isEmpty()}">
	<ul class="pagination justify-content-center">
		<!-- 삼항연산자, false일 경우 a태그로 -->
		<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
			<!--th:href="@{|?page=${paging.number-1}|}" : 이전 페이지 링크 생성-->
			<a class="page-link" th:href="@{|?page=${paging.number-1}|}">
				<span>이전</span>
			</a>		
		</li>	
		<!--#numbers.sequence(시작,끝) : 정해진 범위만큼 반복-->
		<li th:each="page: ${#numbers.sequence(0,paging.totalPages-1)}"
		th:if="${page >= paging.number-5 and page <= paging.number+5}"		
		th:classappend="${page == paging.number} ? 'active'" class="page-item">
		
		<a th:text="${page}" class="page-link"
		th:href="@{|?page=${page}|}"></a>
		</li>
		<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
			<a class="page-link" th:href="@{|?page=${paging.number+1}|}">
				<sapn>다음</sapn>
			</a>
		</li>
	</ul>	
</div>
<!--페이징 처리 끝-->
<a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>
</html>